on:
  push:
    branches: [master]
  pull_request:
    types: [opened, synchronize]

name: CI

jobs:
  install-deps:
    name: Install dependencies
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Setup Node.js 14.x
        uses: actions/setup-node@v1
        with:
          node-version: "14.x"

      - name: Install locked dependencies
        run: yarn install

      - name: Cache dependencies
        uses: actions/cache@v1
        id: cache-deps
        with:
          path: "."
          key: ${{ github.sha }}

  lint:
    name: ESLint
    runs-on: ubuntu-latest
    needs: install-deps
    steps:
      - name: Restore cached dependencies
        uses: actions/cache@v1
        id: restore-deps
        with:
          path: "."
          key: ${{ github.sha }}

      - name: Setup Node.js 14.x
        uses: actions/setup-node@v1
        with:
          node-version: "14.x"

      - name: Lint files
        run: yarn run lint --fix
        env:
          CI: true
