name: Cron job purge data

on:
  workflow_dispatch:
  schedule:
  - cron: "0 14 1 * *"

jobs:
  purge_file:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3      
        with:
         persist-credentials: false
         fetch-depth: 0

      - name: Setup node 12
        uses: actions/setup-node@v1
        with:
          node-version: 12.x

      - name: Get yarn cache
        id: yarn-cache
        run: echo "::set-output name=dir::$(yarn cache dir)"

      - name: Cache Node.js modules
        uses: actions/cache@v1
        with:
          path: ${{ steps.yarn-cache.outputs.dir }}
          key: ${{ runner.OS }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.OS }}-yarn-

      - name: Install dependencies
        run: yarn

      - name: Run purge
        run: yarn purge

      - name: Commit changes
        run: |
          git config --local user.email "mazipanneh@gmail.com"
          git config --local user.name "mazipan"
          git config --global --add safe.directory /github/workspace
          git add -A
          git commit -m "chore: auto purge data"

      - name: GitHub Push
        uses: ad-m/github-push-action@master
        with:
          force-with-lease: true
          directory: "."
          github_token: ${{ secrets.GIT_TOKEN }}
